<a href="https://colab.research.google.com/github/Sujitha-Sunkara/Databases-and-SQL-for-Data-Science-with-Python/blob/main/DB0201EN_PeerAssign_v5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR.

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next".

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
!pip install sqlalchemy
!pip install --force-reinstall ibm_db ibm_db_sa
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.3.9)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
Collecting ibm_db
  Using cached ibm_db-3.1.0-cp37-cp37m-linux_x86_64.whl
Collecting ibm_db_sa
  Using cached ibm_db_sa-0.3.7-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-1.4.27-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (150 kB)
Collecting importlib-metadata
  Using cached importlib_metadata-4.8.2-py3-none-any.whl (17 kB)
Collecting typing-extensions>=3.6.4
  Using cached typing_extensions-4.0.0-py3-none-any.whl (22 kB)
Collecting zipp>=0.5
  Using cached zipp-3.6.0-py3-none-any.whl (5.3 kB)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
Installing collected packages: zipp, typing-extensions, importlib-metadata, greenlet, sqlalchemy, ibm-db, ibm-db-sa
  Attempting uninstall: zipp
    WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: zipp 3.6.0
    Uninstalling zipp-3.6.0:
      Successfully uninstalled zipp-3.6.0
  Attempting uninstall: typing-extensions
    WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: typing-extensions 4.0.0
    Uninstalling typing-extensions-4.0.0:
      Successfully uninstalled typing-extensions-4.0.0
  Attempting uninstall: importlib-metadata
    WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: importlib-metadata 4.8.2
    Uninstalling importlib-metadata-4.8.2:
      Successfully uninstalled importlib-metadata-4.8.2
  Attempting uninstall: greenlet
    WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: greenlet 1.1.2
    Uninstalling greenlet-1.1.2:
      Successfully uninstalled greenlet-1.1.2
  Attempting uninstall: sqlalchemy
    WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
  Attempting uninstall: ibm-db
    WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
  Attempting uninstall: ibm-db-sa
    WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: ibm-db-sa 0.3.7
    Uninstalling ibm-db-sa-0.3.7:
      Successfully uninstalled ibm-db-sa-0.3.7
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
arviz 0.11.4 requires typing-extensions<4,>=3.7.4.3, but you have typing-extensions 4.0.0 which is incompatible.
Successfully installed greenlet-1.1.2 ibm-db-3.1.0 ibm-db-sa-0.3.7 importlib-metadata-4.8.2 sqlalchemy-1.4.27 typing-extensions-4.0.0 zipp-3.6.0

WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
    Found existing installation: SQLAlchemy 1.4.27
    Uninstalling SQLAlchemy-1.4.27:
      Successfully uninstalled SQLAlchemy-1.4.27
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
Successfully installed sqlalchemy-1.3.9

WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
Requirement already satisfied: ibm_db_sa in /usr/local/lib/python3.7/dist-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ibm_db_sa) (3.1.0)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (2.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from prettytable->ipython-sql) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->prettytable->ipython-sql) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->prettytable->ipython-sql) (4.0.0)
WARNING: Ignoring invalid distribution -bm-db (/usr/local/lib/python3.7/dist-packages)

In [ ]:
import ibm_db_dbi

In [ ]:
import ibm_db

In [ ]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

In [ ]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://lbn23443:hMJ0tMHHUk8NUXm1@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb?security=SSL

'Connected: lbn23443@bludb'

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [ ]:
%sql select distinct(count(*)) from Chicago_Crime_Data;

 * ibm_db_sa://lbn23443:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [ ]:
%sql select Community_area_name , per_capita_income from Chicago_Census_Data where per_capita_income < 11000;

 * ibm_db_sa://lbn23443:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [ ]:
%sql select CASE_NUMBER from Chicago_Crime_Data where PRIMARY_TYPE = 'OFFENSE INVOLVING CHILDREN';

 * ibm_db_sa://lbn23443:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('HN567387',), ('HR391350',), ('HM768251',), ('HT394616',)]

In [ ]:
%sql select unique(DESCRIPTION) from Chicago_Crime_Data;

 * ibm_db_sa://lbn23443:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('$500 AND UNDER',),
 ('AGG CRIM SEX ABUSE FAM MEMBER',),
 ('AGG CRIMINAL SEXUAL ABUSE',),
 ('AGG PO HANDS NO/MIN INJURY',),
 ('AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY',),
 ('AGG SEX ASSLT OF CHILD FAM MBR',),
 ('AGG: FINANCIAL ID THEFT',),
 ('AGGRAVATED',),
 ('AGGRAVATED DOMESTIC BATTERY',),
 ('AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON',),
 ('AGGRAVATED PO: OTHER DANG WEAP',),
 ('AGGRAVATED VEHICULAR HIJACKING',),
 ('AGGRAVATED: HANDGUN',),
 ('AGGRAVATED: OTHER DANG WEAPON',),
 ('AGGRAVATED:KNIFE/CUTTING INSTR',),
 ('ARMED: HANDGUN',),
 ('ARMED:KNIFE/CUTTING INSTRUMENT',),
 ('ATT: AUTOMOBILE',),
 ('ATTEMPT NON-AGGRAVATED',),
 ('ATTEMPT POSSESSION NARCOTICS',),
 ('ATTEMPT THEFT',),
 ('AUTOMOBILE',),
 ('BOGUS CHECK',),
 ('BOMB THREAT',),
 ('BY FIRE',),
 ('CALL OPERATION',),
 ('CHILD ABDUCTION/STRANGER',),
 ('CREDIT CARD FRAUD',),
 ('CRIM SEX ABUSE BY FAM MEMBER',),
 ('CRIMINAL DEFACEMENT',),
 ('CYBERSTALKING',),
 ('DOMESTIC BATTERY SIMPLE',),
 ('DOMESTIC VIOLENCE',),
 ('ESCAPE',),
 ('FALSE/STOLEN/ALTERED TRP',),
 ('FINANCIAL ID THEFT: OVER $300',),
 ('FINANCIAL IDENTITY THEFT OVER $ 300',),
 ('FIRST DEGREE MURDER',),
 ('FOID - REVOCATION',),
 ('FORCIBLE ENTRY',),
 ('FORGERY',),
 ('FOUND SUSPECT NARCOTICS',),
 ('FRAUD OR CONFIDENCE GAME',),
 ('FROM BUILDING',),
 ('GAME/DICE',),
 ('HARASSMENT BY ELECTRONIC MEANS',),
 ('HARASSMENT BY TELEPHONE',),
 ('ILLEGAL CONSUMPTION BY MINOR',),
 ('ILLEGAL USE CASH CARD',),
 ('INTIMIDATION',),
 ('INTOXICATING COMPOUNDS',),
 ('INVOLUNTARY SERVITUDE',),
 ('LICENSED PREMISE',),
 ('LOST PASSPORT',),
 ('MANU/DEL:CANNABIS 10GM OR LESS',),
 ('MANU/DELIVER: HEROIN (WHITE)',),
 ('MANU/DELIVER: METHAMPHETAMINES',),
 ('MANU/DELIVER:CRACK',),
 ('NON-AGGRAVATED',),
 ('NOTIFICATION OF CIVIL NO CONTACT ORDER',),
 ('OBSCENE MATTER',),
 ('OBSCENE TELEPHONE CALLS',),
 ('OTHER',),
 ('OTHER CRIME AGAINST PERSON',),
 ('OTHER VEHICLE OFFENSE',),
 ('OVER $500',),
 ('PAROLE VIOLATION',),
 ('POCKET-PICKING',),
 ('POSS: CANNABIS 30GMS OR LESS',),
 ('POSS: COCAINE',),
 ('POSS: CRACK',),
 ('POSS: HEROIN(WHITE)',),
 ('PRO EMP HANDS NO/MIN INJURY',),
 ('PROBATION VIOLATION',),
 ('PURSE-SNATCHING',),
 ('RECKLESS CONDUCT',),
 ('RESIST/OBSTRUCT/DISARM OFFICER',),
 ('RETAIL THEFT',),
 ('SELL/GIVE/DEL LIQUOR TO MINOR',),
 ('SEX ASSLT OF CHILD BY FAM MBR',),
 ('SEX OFFENDER: FAIL REG NEW ADD',),
 ('SIMPLE',),
 ('SOLICIT FOR BUSINESS',),
 ('SOLICIT NARCOTICS ON PUBLICWAY',),
 ('SOLICIT ON PUBLIC WAY',),
 ('STRONGARM - NO WEAPON',),
 ('TELEPHONE THREAT',),
 ('THEFT BY LESSEE,MOTOR VEH',),
 ('THEFT OF LABOR/SERVICES',),
 ('THEFT OF LOST/MISLAID PROP',),
 ('THEFT/RECOVERY: AUTOMOBILE',),
 ('TO CITY OF CHICAGO PROPERTY',),
 ('TO LAND',),
 ('TO PROPERTY',),
 ('TO RESIDENCE',),
 ('TO STATE SUP LAND',),
 ('TO VEHICLE',),
 ('TRUCK, BUS, MOTOR HOME',),
 ('UNLAWFUL ENTRY',),
 ('UNLAWFUL POSS OF HANDGUN',),
 ('UNLAWFUL POSS OTHER FIREARM',),
 ('VEHICULAR HIJACKING',),
 ('VIOLATE ORDER OF PROTECTION',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [ ]:
%sql select PRIMARY_TYPE from Chicago_Crime_Data where PRIMARY_TYPE='KIDNAPPING' and DESCRIPTION like '%CHILD%';

 * ibm_db_sa://lbn23443:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('KIDNAPPING',)]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [ ]:
%sql select NAME_OF_SCHOOL, PRIMARY_TYPE from Chicago_Crime_Data c, Chicago_Public_Schools s where c.COMMUNITY_AREA_NUMBER = s.COMMUNITY_AREA_NUMBER limit 5;

 * ibm_db_sa://lbn23443:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Josephine C Locke Elementary School', 'CRIMINAL DAMAGE'),
 ('Josephine C Locke Elementary School', 'OTHER OFFENSE'),
 ('Abraham Lincoln Elementary School', 'THEFT'),
 ('Abraham Lincoln Elementary School', 'LIQUOR LAW VIOLATION'),
 ('Abraham Lincoln Elementary School', 'BURGLARY')]

### Problem 6

##### List the average safety score for all types of schools.

In [ ]:
%sql select "Elementary, Middle, or High School" , AVG(SAFETY_SCORE) from Chicago_Public_Schools group by"Elementary, Middle, or High School";

 * ibm_db_sa://lbn23443:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [ ]:
%sql select community_area_name, percent_households_below_poverty from Chicago_Census_Data order by percent_households_below_poverty desc nulls last limit 5;

 * ibm_db_sa://lbn23443:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [ ]:
%sql select community_area_number, count(*) as Number_of_Crime from Chicago_Crime_Data group by community_area_number order by number_of_crime desc limit 1;

 * ibm_db_sa://lbn23443:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(25, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [ ]:
%sql select community_area_name from Chicago_Census_data where hardship_index = (select max(hardship_index) from chicago_census_data);

 * ibm_db_sa://lbn23443:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [ ]:
%sql select community_area_name , count(*) from Chicago_Census_Data c, Chicago_Crime_Data s where c.community_area_number = s.community_area_number group by(community_area_name);

 * ibm_db_sa://lbn23443:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Albany Park', 5),
 ('Ashburn', 8),
 ('Auburn Gresham', 14),
 ('Austin', 43),
 ('Avalon Park', 4),
 ('Avondale', 6),
 ('Belmont Cragin', 8),
 ('Beverly', 4),
 ('Bridgeport', 1),
 ('Brighton Park', 10),
 ('Burnside', 1),
 ('Calumet Heights', 5),
 ('Chatham', 8),
 ('Chicago Lawn', 12),
 ('Clearing', 2),
 ('Douglas', 5),
 ('Dunning', 3),
 ('East Garfield Park', 8),
 ('East Side', 2),
 ('Edgewater', 2),
 ('Englewood', 21),
 ('Forest Glen', 1),
 ('Fuller Park', 2),
 ('Gage Park', 7),
 ('Garfield Ridge', 2),
 ('Grand Boulevard', 8),
 ('Greater Grand Crossing', 11),
 ('Hegewisch', 1),
 ('Hermosa', 3),
 ('Humboldt park', 22),
 ('Hyde Park', 2),
 ('Irving Park', 8),
 ('Jefferson Park', 2),
 ('Kenwood', 4),
 ('Lake View', 11),
 ('Lincoln Park', 5),
 ('Lincoln Square', 3),
 ('Logan Square', 9),
 ('Loop', 7),
 ('Lower West Side', 9),
 ('McKinley Park', 2),
 ('Montclaire', 2),
 ('Morgan Park', 1),
 ('Near North Side', 15),
 ('Near South Side', 1),
 ('Near West Side', 16),
 ('New City', 10),
 ('North Center', 4),
 ('North Lawndale', 16),
 ('Norwood Park', 3),
 ("O'Hare", 4),
 ('Portage Park', 5),
 ('Pullman', 3),
 ('Riverdale', 2),
 ('Rogers Park', 6),
 ('Roseland', 11),
 ('South Chicago', 9),
 ('South Deering', 4),
 ('South Lawndale', 8),
 ('South Shore', 9),
 ('Uptown', 4),
 ('Washington Height', 3),
 ('West Elsdon', 4),
 ('West Englewood', 12),
 ('West Garfield Park', 10),
 ('West Lawn', 3),
 ('West Pullman', 6),
 ('West Ridge', 7),
 ('West Town', 13),
 ('Woodlawn', 8)]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>